[submodule "external/bmlib"]
	path = external/bmlib
	url = https://bitbucket.org/vahidi/bmlib.git
[submodule "external/icestorm"]
	path = external/icestorm
	url = https://github.com/cliffordwolf/icestorm.git
[submodule "external/yosys"]
	path = external/yosys
	url = https://github.com/cliffordwolf/yosys.git
[submodule "external/nextpnr"]
	path = external/nextpnr
	url = https://github.com/YosysHQ/nextpnr
